.skills {
    min-height: 100vh;
    padding-top: 5em;
    padding-bottom: 3em;  

    &__heading {
        text-align: center;
        margin-bottom: 3em;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 100px));
        gap: 4em;
        justify-content: center;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__wrapper {
                width: 5.5em;
                height: 5.5em;
                padding: 1em;
                border-radius: 50%;
                background-color: hsla(var(--clr-white), .875);

                &:hover {
                    background-color: hsla(var(--clr-white), .95);
                }
            }

            &__name {
                font-size: var(--fs-xs);
            }
        }
    }
}