.about {
    min-height: 100vh;
    padding-top: 5em;
    padding-bottom: 3em;

    @media screen and (min-width: 700px) {
        display: flex;
        justify-content: center;
        align-items: center;

        &__content {
            display: flex;
            justify-content: center;
        }
    }

    &__heading {
        font-family: var(--ff-bad-script);
        margin-right: .25em;
        font-size: 8rem;

        @media screen and (min-width: 700px) {
            
        }
    }

    &__right {
        max-width: 600px;

        &__intro {
            margin-bottom: .5em;
        }

        &__desc {
            margin-bottom: 3em;
        }

        &__resume {
            display: inline-block;
            color: hsla(var(--clr-white), .95);
            background-color: hsla(var(--clr-accent), .95);
            padding: .75em 1.5em;
            border-radius: 5em;
        }
    }
}