.works {
    min-height: 100vh;
    padding-top: 5em;

    &__heading {
        text-align: center;
        margin-bottom: 1em;
    }

    &__filters {
        margin-bottom: 2em;
        flex-wrap: wrap;

        &__btn {
            margin: 0 1em 1em;
            border: none;
            background-color: hsla(var(--clr-white), .95);
            padding: .5em 1.5em;
            border-radius: .375em;
            cursor: pointer;
        }
    }

    &__projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
        gap: 2em;
        justify-content: center;

        &__item {
            padding: 1em;
            background-color: hsla(var(--clr-white), .95);
            border-radius: .75em;

            &__image {
                width: 100%;
                object-fit: cover;
                max-height: 200px;
            }

            &__title {
                text-align: center;
                font-weight: var(--fw-bold);

                span {
                    font-size: var(--fs-sm);
                    display: inline-block;
                    padding: .25em 1em;
                    background-color: hsla(var(--clr-white), .95);
                    border-radius: .375em;
                    transform: translateY(-80%);
                }
            }

            &__desc {
                font-size: var(--fs-xs);
                padding: 0 1em;
            }
        }
    }
}