.app {
    min-height: 100vh;        
}

body {
    margin: 0;
    font-family: var(--ff-inter);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    color: hsla(var(--clr-text), 1);
    
    background-color:hsla(0, 10%, 86%, 0.8);
    background-image:
    radial-gradient(at 100% 100%, hsla(203, 61%, 69%, 0.8) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(178,75%,75%,0.8) 0px, transparent 50%);
}
  
img {
    display: block;
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    margin-top: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

.container {
    width: min(94%, 1200px);
    margin: 0 auto;

    @media screen and (min-width: 700px) {
        width: min(88%, 1200px);
    }
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

