*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


:root {
  --ff-inter: 'Hanken Grotesk', sans-serif;
  --ff-bad-script: 'Bad Script', cursive;

  --fs-h1: 3.125rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-sm: .875rem;
  --fs-xs: .625rem;

  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;

  --clr-white: 0, 0%, 100%;
  --clr-black: 0, 0%, 0%;
  --clr-accent: 165, 80%, 43%;
  --clr-text: 167, 94%, 12%;

  --padding-left: 2vw;
}

@media screen and (min-width: 960px) {
  :root {
    --fs-h1: 3.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
    --fs-sm: 1rem;
    --fs-xs: .75rem; 
  }
}


